<div class="header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/account/register">Create an Account</a></li>
            <li><a href="/user/order">Create Order</a></li>
            <li><a href="/account/login">Login</a></li>
        </ul>
    </nav>
</div>