<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/img/favicon 3.ico" type="image/x-icon">
    <title></title>
</head>
<body>
    <header>
        <%- include('partials/nav') -%>
    </header>
    <div id="maincontent1">
        <!-- <img src="/assets/img/deli.jpg" alt="our banner"> -->
        <div class="content">
            <h1>sendIT Company Is Here</h1>
            <p>if you're looking for the best platform for your package to be shipped to any
                destination of your choice we're here to server the best quatilty, reliable service you've never 
                experienced before...<br>
            </p>
            <button id="btn"><a href="/order/create-order">Create order</a></button>
            <button id="btn2"><a href="/order/my-orders">Manage Order</a></button>
        </div>
    </div>
    <footer>
        <%- include('partials/footer') -%>
    </footer>
</body>
</html>